---
import { getCollection } from "astro:content";
const instanceFamilyEntries = await getCollection("instance-families");
import { getInstanceComputeClass, instanceSizeSort } from "../lib/instances";

import SiteLayout from "../layouts/SiteLayout.astro";
import Card from "react-bootstrap/cjs/Card.js";
import Row from "react-bootstrap/cjs/Row.js";
import Container from "react-bootstrap/cjs/Container.js";
---

<SiteLayout title="Instances">
	<Row xs={1} sm={2} md={3} lg={3} xl={4} xxl={5} xxxl={6} className="px-3">
		{
			instanceFamilyEntries.map((k) => (
				<Container className="p-2">
					<Card className="px-0">
						<Card.Header>
							<Card.Title>
								<a href={"/instance-family/"+ k.id}>{k.id.toUpperCase()} -{" "}
								{getInstanceComputeClass(k.id)}</a>
							</Card.Title>
						</Card.Header>
						<Card.Body>
							<Card.Text>
								<h5>Regions</h5>
								<p>{k.data.regions.length}</p>
								<h5>Sizes</h5>
								<p>
									{instanceSizeSort(k.data.sizes)[0]} -{" "}
									{
										instanceSizeSort(k.data.sizes, true)[
											instanceSizeSort(k.data.sizes, true)
												.length - 1
										]
									}
								</p>
							</Card.Text>
						</Card.Body>
					</Card>
				</Container>
			))
		}
	</Row>
</SiteLayout>
