---
import instanceOfferings from "../../../data/instance_type_offerings.json"
import regions from "../../../data/regions.json"
import instanceTypes from "../../../data/all_instance_types.json"
import instanceFamilies from "../../../data/all_instance_families.json"

import SiteLayout from "../layouts/SiteLayout.astro"
---

<SiteLayout title="Instances">
	<h1>test</h1>
</SiteLayout>