---
import { getCollection } from 'astro:content';
import SiteLayout from '../../layouts/SiteLayout.astro';
import type { InstanceTypeInfo } from '@aws-sdk/client-ec2';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const instanceTypeEntries = await getCollection('instance-types');
  return instanceTypeEntries.map((entry) => ({
    params: { slug: entry.id.split('.').join('/') },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const data: InstanceTypeInfo = Astro.props.entry.data;
---

<SiteLayout title={entry.id}>
  <h1>{entry.id}</h1>
  <pre>{JSON.stringify(data, null, 2)}</pre>
</SiteLayout>
